.LabHours{
    font-weight: bold;
    background-color: #99CCFF;
    border: 1px solid black;
}

.TheoryHours{
    font-weight: bold;
    background-color: #CCCCFF;
    border: 1px solid black;
}

.ColumnOneDays{
    font-weight: bold;
    background-color: #C0C0C0;
    border: 1px solid black;
}

.TimetableContent{
    color: grey;
    background-color: #FFFFCC;
    border: 1px solid black;
}

.TimetableContent:hover{
    color: black;
    background-color: mediumslateblue;
    border: 1px solid black;
}

.TimetableContent.highlight{
    color: black;
    background-color: #CCFF33;
}

.TimetableContent.highlight:hover{
    color: black;
    background-color: indianred;
}

.ExcelSheet{
    margin-top:24px;
    margin-bottom:24px;
}