/**
* Margin, Padding, height, width styling
* All content on site is present in different blocks of div and each div has a class container or container-fluid
* The order of elements here is the order in which they appear on the page
*/
body {
    padding-top: 5rem;
}

nav {
    box-shadow: 0 2px 5px #000;
}

.navbar-brand {
    color: #9c27b0 !important;
    font-weight: bold;
}

.nav-btn-outline {
    color: #9c27b0;
    border-color: #9c27b0;
    border-width: 2px;
}

.nav-btn-outline:hover {
    color: #ffffff;
    border-color: #9c27b0 !important;
    background-color: #9c27b0 !important;
}

.nav-btn-outline:active,
.nav-btn-outline:focus,
.nav-btn-outline.show {
    color: #ffffff;
    border-color: #812092 !important;
    background-color: #812092 !important;
}

.nav-link i {
    font-size: 1.5rem;
    margin-right: 0.3rem;
}

.nav-link small {
    line-height: 100%;
    vertical-align: text-top;
}

.nav-link i,
.nav-link small {
    color: #9c27b0;
}

.nav-link i:hover,
.nav-link small:hover {
    color: #812092;
}

/**
 * Theme toggle switch
 */
.checkbox {
    opacity: 0;
    position: absolute;
}

.toggle {
    background-color: #9c27b0;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    margin: 0 calc(0.5rem * 1.5);
    transform: scale(1.5);
}

.toggle .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .toggle .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: #ffffff;
}

.fa-sun {
    color: #ffffff;
}

.container-fluid .row {
    margin-right: 0;
    margin-left: 0;
}

label {
    font-weight: bold;
}

input.form-control {
    margin-bottom: 0.3rem;
}

#inputCourse {
    box-shadow: none;
}

#inputCourse:focus,
.bootstrap-select button.dropdown-toggle:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe !important;
    outline: none !important;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.bootstrap-select button.dropdown-toggle {
    border-color: #ccc !important;
    border-radius: 4px !important;
    border-style: solid !important;
    border-width: 1px !important;
    margin-bottom: 0.3rem;
}

blockquote {
    width: 100%;
    background: #ddd;
    margin: 0 !important;
    padding: 1rem 1.2rem !important;
    border-radius: 0.5rem;
}

.blockquote-container {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.blockquote-text {
    font-size: 1rem;
    color: #555;
    margin: 0;
    padding-left: 0.5rem;
    border-left: 0.2rem solid #555;
}

#insertCourseSelectionOptions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    flex-wrap: wrap;
    /* Values taken from bootstrap */
    padding-right: calc(var(--bs-gutter-x) * 0.5 - 5px);
    padding-left: calc(var(--bs-gutter-x) * 0.5 - 5px);
}

.list-group-item {
    border-width: 1px !important;
    background: none;
    border-color: #9c27b0;
    border-radius: 0.5rem !important;
    margin: 5px;
    transition: background 0.3s, border-color 0.3s;
}

.list-group-item:hover {
    background: #f8ceff;
    border-color: #f8cef8;
}

.list-group-item.selected {
    background: #f8ceff;
    border-color: #f8cef8;
}

.list-group-item-heading {
    word-break: break-all;
    margin: 5px 0;
}

.list-group-item-text {
    margin: 5px 0;
}

#slot-sel-area-toggle-fields {
    margin: 1rem;
}

hr {
    margin: 1rem 0 0.5rem 0 !important;
}

header .alert {
    margin-bottom: 0;
}

#shareWhatsApp img {
    width: 20px;
    margin-left: 0.5rem;
}

#shareWhatsApp .btn {
    width: 80%;
}

.btn-close {
    background-image: none;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000000;
}

#saved-tt-picker-label {
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tt-picker-label {
    padding-right: 1.2rem;
    width: 100%;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.tt-picker-edit,
.tt-picker-remove {
    padding-left: 0.5rem;
}

.tt-picker-edit-input {
    /* Margin same as bootstrap padding default for .dropdown-menu > li > a */
    margin: 3px 20px;
}

#option-buttons {
    padding-top: 0;
    padding-bottom: 0;
}

#option-buttons button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#toggleClickToSelect {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.container-xxl {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.table {
    margin-bottom: 0 !important;
}

#insertSlotBtn:empty {
    margin-bottom: 0;
}

#courseList .row {
    margin-right: 0;
    margin-left: 0;
}

th,
td {
    margin-bottom: 0 !important;
    padding: 0;
    white-space: nowrap;
}

.quick-selection {
    margin: 1rem auto;
    width: 100%;
}

.quick-selection div {
    width: 100%;
    overflow: auto;
}

.quick-selection table {
    margin: auto;
}

.quick-selection td {
    display: flex;
}

.quick-selection td button:first-child {
    margin-left: 0;
}

.quick-selection td button:last-child {
    margin-right: 0;
}

.btn-quick {
    flex-grow: 1;
    width: fit-content;
    margin: 0.3rem;
    background-color: #ffc107 !important;
}

.btn-quick.highlight {
    background-color: #64dd17 !important;
}

.btn-quick:hover {
    background-color: #64dd17 !important;
}

#CourseAllocationReport-btn {
    width: 60%;
}

footer {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

/**
* Font, color and other styling
* Order of elements here is same as they appear on the page
*/
#shareWhatsApp img {
    vertical-align: bottom;
}

.tt-picker-edit-ok {
    position: absolute;
    right: 25px;
    padding-top: 5px !important;
}

.screenshot_msg {
    color: black;
    background-color: white;
}

.screenshot_msg tr,
.screenshot_msg td {
    border-color: white !important;
}

.LabHours {
    font-weight: bold;
    background-color: #99ccff !important;
    cursor: default;
}

.TheoryHours {
    font-weight: bold;
    background-color: #ccccff !important;
    cursor: default;
}

.ColumnOneDays {
    font-weight: bold;
    background-color: #c0c0c0 !important;
    cursor: default;
}

.TimetableContent {
    text-transform: uppercase;
    color: grey;
    background-color: #ffffcc !important;
    cursor: pointer;
}

.TimetableContent:hover {
    color: black;
    background-color: #ccff33 !important;
    cursor: pointer;
}

.TimetableContent.highlight {
    color: black;
    background-color: #ccff33 !important;
    cursor: pointer;
}

.TimetableContent.highlight:hover {
    color: grey;
    background-color: #ccff33 !important;
    cursor: pointer;
}

.TimetableContent[disabled] {
    text-transform: capitalize;
    color: grey;
    background-color: #ffffcc !important;
    cursor: default;
}

#timetable .table-bordered td,
#timetable .table-bordered th {
    border: 1px solid #616161 !important;
    vertical-align: middle;
}

/* .tt-course-code used when inserting course code in timetable */
#timetable td div {
    font-size: 0.9em;
}

#timetable td.clash {
    background: red !important;
    color: #fff !important;
}

.A1,
.B1,
.C1,
.D1,
.E1,
.F1,
.G1,
.A2,
.B2,
.C2,
.D2,
.E2,
.F2,
.G2,
.TA1,
.TB1,
.TC1,
.TD1,
.TE1,
.TF1,
.TG1,
.TA2,
.TB2,
.TC2,
.TD2,
.TE2,
.TF2,
.TG2,
.TAA1,
.TBB1,
.TCC1,
.TDD1,
.TEE1,
.TFF1,
.TGG1,
.TAA2,
.TBB2,
.TCC2,
.TDD2,
.TEE2,
.TFF2,
.TGG2 {
    color: grey;
    background-color: #ffffcc !important;
    cursor: pointer;
}

.A1:hover,
.B1:hover,
.C1:hover,
.D1:hover,
.E1:hover,
.F1:hover,
.G1:hover,
.A2:hover,
.B2:hover,
.C2:hover,
.D2:hover,
.E2:hover,
.F2:hover,
.G2:hover,
.TA1:hover,
.TB1:hover,
.TC1:hover,
.TD1:hover,
.TE1:hover,
.TF1:hover,
.TG1:hover,
.TA2:hover,
.TB2:hover,
.TC2:hover,
.TD2:hover,
.TE2:hover,
.TF2:hover,
.TG2:hover,
.TAA1:hover,
.TBB1:hover,
.TCC1:hover,
.TDD1:hover,
.TEE1:hover,
.TFF1:hover,
.TGG1:hover,
.TAA2:hover,
.TBB2:hover,
.TCC2:hover,
.TDD2:hover,
.TEE2:hover,
.TFF2:hover,
.TGG2:hover {
    color: black;
    background-color: #ccff33 !important;
    cursor: pointer;
}

.A1.highlight,
.B1.highlight,
.C1.highlight,
.D1.highlight,
.E1.highlight,
.F1.highlight,
.G1.highlight,
.A2.highlight,
.B2.highlight,
.C2.highlight,
.D2.highlight,
.E2.highlight,
.F2.highlight,
.G2.highlight,
.TA1.highlight,
.TB1.highlight,
.TC1.highlight,
.TD1.highlight,
.TE1.highlight,
.TF1.highlight,
.TG1.highlight,
.TA2.highlight,
.TB2.highlight,
.TC2.highlight,
.TD2.highlight,
.TE2.highlight,
.TF2.highlight,
.TG2.highlight,
.TAA1.highlight,
.TBB1.highlight,
.TCC1.highlight,
.TDD1.highlight,
.TEE1.highlight,
.TFF1.highlight,
.TGG1.highlight,
.TAA2.highlight,
.TBB2.highlight,
.TCC2.highlight,
.TDD2.highlight,
.TEE2.highlight,
.TFF2.highlight,
.TGG2.highlight {
    color: black;
    background-color: #ccff33 !important;
    cursor: pointer;
}

.A1.highlight:hover,
.B1.highlight:hover,
.C1.highlight:hover,
.D1.highlight:hover,
.E1.highlight:hover,
.F1.highlight:hover,
.G1.highlight:hover,
.A2.highlight:hover,
.B2.highlight:hover,
.C2.highlight:hover,
.D2.highlight:hover,
.E2.highlight:hover,
.F2.highlight:hover,
.G2.highlight:hover,
.TA1.highlight:hover,
.TB1.highlight:hover,
.TC1.highlight:hover,
.TD1.highlight:hover,
.TE1.highlight:hover,
.TF1.highlight:hover,
.TG1.highlight:hover,
.TA2.highlight:hover,
.TB2.highlight:hover,
.TC2.highlight:hover,
.TD2.highlight:hover,
.TE2.highlight:hover,
.TF2.highlight:hover,
.TG2.highlight:hover,
.TAA1.highlight:hover,
.TBB1.highlight:hover,
.TCC1.highlight:hover,
.TDD1.highlight:hover,
.TEE1.highlight:hover,
.TFF1.highlight:hover,
.TGG1.highlight:hover,
.TAA2.highlight:hover,
.TBB2.highlight:hover,
.TCC2.highlight:hover,
.TDD2.highlight:hover,
.TEE2.highlight:hover,
.TFF2.highlight:hover,
.TGG2.highlight:hover {
    color: grey;
    background-color: #ccff33 !important;
    cursor: pointer;
}

.list-group-item {
    text-transform: uppercase;
}

#slot-sel-area input {
    color: black !important;
}

.myBlockquote {
    color: #9e9e9e;
    font-size: 1.5rem;
}

#insertSlotBtn .btn {
    white-space: normal;
}

#courseListTable {
    /* background-color important for screenshot */
    background-color: white;
    border: 1px solid #e5e5e5;
    margin-top: 0.3rem;
    border-color: #000;
}

#courseListTable th,
#courseListTable tr {
    text-align: center;
    border-color: #000;
}

#courseListTable tr th:not(:last-of-type) {
    cursor: pointer;
}

#courseListTable tr th.sorted,
#courseListTable tr th:hover:not(:last-of-type) {
    background-color: #f1f7ee;
}

#courseListTable tr th.ascending::after {
    content: ' ↓';
    font-size: larger;
}

#courseListTable tr th.descending::after {
    content: ' ↑';
    font-size: larger;
    font-weight: bold;
}

#courseListTable tr:not(:last-of-type) {
    cursor: pointer;
}

.table-active:hover {
    --bs-table-accent-bg: var(--bs-table-active-bg) !important;
}

footer {
    background-color: #9c27b0;
    color: #fff;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #fff;
}

/**
 * Disable text selection
 */
.noselect {
    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
    user-select: none;
}

/**
 * Add horizontal scroll and don't collapse the elements
 * Putting it under @media preserve the original bootstrap properties when there is no overflow
 */
.horizontal-scroll-no-collapse {
    overflow: auto;
    white-space: nowrap;
}

@media screen and (max-width: 768px) {
    .horizontal-scroll-no-collapse > * {
        float: none;
        display: inline-block;
    }
    .container .horizontal-scroll-no-collapse {
        margin-left: -15px;
        margin-right: -15px;
    }
}

@media screen and (max-width: 1400px) {
    .container-xxl {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (max-width: 992px) {
    .container-lg,
    .container-xxl {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width: 650px) {
    button span {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    #insertCourseSelectionOptions {
        grid-template-columns: unset;
    }
}

/**
 * Custom scrollbar
 */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #f8ceff;
}

::-webkit-scrollbar-thumb {
    background: #9c27b0;
}
