/**
 *  This style sheet contains the custom styling applied
 *  to the course list table
 */

@import 'global/colors.scss';

#courseListTable {
    border: 1px solid var(--table-border-color);
    margin-top: 0.3rem;
}

#courseListTable th,
#courseListTable tr {
    text-align: center;
    border-color: var(--table-border-color);
}

#courseListTable tr th:not(:last-of-type) {
    cursor: pointer;
}

#courseListTable tr th.sorted,
#courseListTable tr th:hover:not(:last-of-type) {
    background-color: #f1f7ee;
}

#courseListTable tr th.ascending::after {
    content: ' ↓';
    font-size: larger;
}

#courseListTable tr th.descending::after {
    content: ' ↑';
    font-size: larger;
    font-weight: bold;
}

#courseListTable tr:not(:last-of-type) {
    cursor: pointer;
}

.table-active:hover {
    --bs-table-accent-bg: var(--bs-table-active-bg) !important;
}
